
.boton-confi{
  text-align: right;
  margin-top: 20px;
}

.avatar{
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 100vh; 
  position: absolute; 
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.avatar h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar ion-avatar{
  width: 200px;
  height: 200px;
}

.botones-inferiores {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente, si es necesario */
  position: fixed; /* Fija el contenedor en la pantalla */
  bottom: 0; /* Posiciona el contenedor en la parte inferior */
  height: 50%;
  width: 100%; /* Asegura que el contenedor se extienda a lo ancho de la pantalla */
  gap: 10px; /* Espacio entre los botones */
}

.botones-inferiores ion-button {
  height: 70px;
  width: 30%;
  border-radius: 30px; /* Ajusta el radio del borde para bordes redondeados */
  background-color: #007bff; /* Color de fondo azul */
  color: #ffffff; /* Color del texto blanco para contraste */
  font-size: 20px; /* Tamaño del texto */
}