.boton-atras{
    text-align: right;
    margin-top: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3px 0;
    padding: 0 20px; /* Ajusta el padding para evitar que las líneas toquen los bordes */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho total */
    min-height: 15vh;
}

.line {
    flex: 1;
    height: 3px;
    background-color: black; /* Color de las líneas */
    margin: 0 15px; /* Espacio entre la línea y el texto */
}

.titulo h1 {
    font-size: 1.8em; /* Ajusta el tamaño de la fuente según sea necesario */
    margin: 0;
    padding: 0;
    text-align: center;
}

ion-item {
    --padding-start: 0;
}

ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(211, 35, 73);
    --color: white;
  }