<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">selectA</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ingreso">
    <div class="imagenes">
      <div id="img1">
        <img src="" alt="">
      </div>
    </div>
    <form action="">
      <label for="">Introduce un nuevo nombre de usuario para comenzar</label>
      <input  #apodo type="text" placeholder="Nombre" required>
      <button type="submit" routerLink="/tabs-inicio" (click)="save(apodo)">Let's Go</button>
    </form>
    @if (cargando) {
      <div style="text-align: center;">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
    }
  </div>
</ion-content>
